modules = ["nodejs-24"]
run = "npm run dev"

[env]
PORT = "3000"

[deployment]
build = "npm ci && npm run build"
run = "npm run start"
deploymentTarget = "autoscale"

[workflows]
runButton = "Run application"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 23917
externalPort = 3000

[agent]
expertMode = true
